---
---
<nav class="nav" id="nav">
  <a href="/" class="logo">Rimbun<span>.</span></a>

  <ul class="nav-links" role="list">
    <li><a href="#kopi">Kopi Kami</a></li>
    <li><a href="#brewing">Brew Guide</a></li>
    <li><a href="#cerita">Cerita</a></li>
    <li><a href="#wholesale">Wholesale</a></li>
    <li><a href="#kontak">Kontak</a></li>
  </ul>

  <a href="#kopi" class="btn btn-p" style="padding:10px 22px;font-size:.8rem;">
    Belanja Sekarang
  </a>
</nav>
